.redesSociales {
    i {
        margin:10px;
      }
}
    
    
    
footer {
       height: 125px;
       width: 100%;
       background-color:$darkColor;
       color:$whiteColor;
       font-size:15px;
       display: flex;
       justify-content: space-between;
       align-items: center;
      
      
    }
.fa-brands{
       font-size: 20px;
    }